{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{.Title}}</title>
    <meta name="author" content="Arya Bakhtiari">
    <meta name="keywords" content={{.KeyWords}}>
    <meta name="description" content={{.Description}}>

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    <link rel="stylesheet" href="/styles/albors.css">
    <link rel="stylesheet" href="/styles/m-base.css">
    
    {{template "head" .}}
</head>
<body class="bgc2">
    
    {{template "main" .}}
   
</body>
</html>
{{end}}