{{define "m-top"}}
<div id="top" class="flex flex-col">
  <div id="top-top" class="flex jcontent-between aitems-center">
    <div class="flex low-gap aitems-center">
      <div class="setting"></div>
      <a href="/m-index" class="text-bold">نویس</a>
    </div>
    
    <div class="flex low-gap aitems-center">
      <a href="/m-settings" class="setting flex jcontent-center aitems-center tc2">o</a>
      <a href="/m-profile" class="profile-pic flex jcontent-center aitems-center tc2"> ;o;</a>
    </div>
  </div>
  <div id="top-bottom" class="flex jcontent-between aitems-center">
    <a href="/m-following">دنبال شدگان</a>
    <a href="/m-foryou">برای شما</a>
    <a href="/m-privates">خصوصی ها</a>
  </div>
</div>
{{end}}