#top{
  background-color:var(--c2);
  border-bottom:1px solid var(--c1);
  width:360px;

  position:sticky;
  top:0;
  left:0;
}
#top-top{
  width:360px;
  height:3rem;

  padding:0 .5rem;
}
#top-bottom{
  width:360px;
  height:3rem;
  padding:0 .5rem;
}
#bottom{
  background-color:var(--c2);
  border-top:1px solid var(--c1);
  width:360px;
  height:3rem;

  position:fixed;
  bottom:0;
  right:0;
}
#bottom img{width:32px;}
#m-new{
  background-color: rgb(58, 58, 58);
  border:2px solid var(--c2);
  border-radius:50%;

  width:3rem;
  height:3rem;

  cursor:pointer;
  
  position:sticky;
  bottom: 4rem;
  right: 1rem;
}
#info_msg{
  border-bottom:1px solid var(--c1);
  color: var(--c1);
  padding:.25rem 0;
}


#top-top .profile-pic{
  background-color:var(--c1);
  width:  2rem;
  height: 2rem;
  border-radius:50%;
}
#top-top .setting{
  background-color:var(--c1);
  width:  1rem;
  height: 1rem;
  border-radius:50%;
}

#new_nevise{
  padding:.5rem 0;
  width:360px;
  border-bottom:1px solid var(--c1);
}
#new_nevise #nevise_title{
  border:1px solid var(--c1);
  border-radius:4px;

  width:344px;

  margin:4px 8px;
  padding:4px;
}
#new_nevise #nevise_text{
  border:1px solid var(--c1);
  border-radius:4px;

  width:344px;
  height:5rem;
  font-size:small;
  resize: none;

  margin:4px 8px;
  padding:4px;
}
#new_nevise h1{
  margin-right:8px;
}
#new_nevise #benevis_button{
  background-color:var(--c1);
  color: var(--c2);
  margin:.5rem .5rem;
  padding:.125rem 3rem;
}
#new_nevise #save_button{
  border:1px solid var(--c1);
  cursor:pointer;

  padding:.125rem 2rem;

}

#index_nevise{
  width:360px;
  border-bottom:1px solid var(--c1);
  padding:1rem .5rem;
}
.ltr{direction:ltr;}
#index_nevise .profile-pic{
  width:2rem;
  height:2rem;
  border-radius:50%;
}
